:root {
  --msg-form-height: 3rem;
}

html,
body {
  margin: 0px;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

body.dark {
  background-color: rgb(36, 36, 36);
  color: white;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(22, 22, 22);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(44, 44, 44);
  border-radius: 20px;
  border: 3px solid rgb(123, 6, 173);
}

.light ::-webkit-scrollbar {
  width: 12px;
}

.light ::-webkit-scrollbar-track {
  background: rgb(181, 181, 181);
}

.light ::-webkit-scrollbar-thumb {
  background-color: rgb(164, 164, 164);
  border-radius: 20px;
  border: 3px solid rgb(17, 201, 211);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - var(--msg-form-height));
}


#msg-ui {
  width: 75%;
  height: 100%;
  overflow: auto;
}
#members-bar {
  padding: 0.75em;
}
@media screen and (max-width: 550px) {
  #msg-ui {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
  }
}

button {
  background: rgb(51, 51, 51);
  border: none;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}
button:hover {
  background: rgb(83, 83, 83);
}
button:focus,
input:focus {
  outline: solid 2px rgb(157, 157, 157);
}

#msg-form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  display: flex;
  width: 100%;
  min-height: var(--msg-form-height);
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
button,
input {
  padding: 0 0.75rem;
}
input {
  border: none;
  flex: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages > li {
  padding: 0.5rem 1rem;
}

.msg-system {
  color: red;
}

.date {
  color: rgb(191, 191, 191);
  font-size: 0.65em;
  font-style: italic;
  text-decoration: underline;
}

.light .date {
  color: rgb(48, 48, 48);
}

/* Début tchat */

.tchatsection {
  display: flex;
  padding: 0.8em;
  border-radius: 5px;
  color: #008000;
}

.tchatsection .title {
  padding: 0.2em;
  margin: 0.1em;
  background-color: #008000;
  box-shadow: 4px 4px #040494, 8px 8px #a80000;
  color: whitesmoke;
}

.tchat {
  height: 150px !important;
  width: 250px !important;
}

/* <!-- Fin tchat --> */
